# Food Coded | Exploratory Data Analysis

How important is nutrition information for today's college kids?

 Is their taste in food defined by their food preferences when they were children? 
 
 Are kids of parents who cook more likely to make better food choices than others? 
 
 Are these kids likely to have a different taste compared to others?

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('/home/omkar/Omkar Pawar/Data Science/Exploratory Data Analysis/Assets/Raw Data Sets/food_coded.csv')
df.head()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190

In [10]:
df.describe(include='all')

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
count,123,125.000000,125.000000,125.000000,106.000000,124.000000,125.00000,124,123,106.000000,...,124.000000,123.000000,125.000000,124.000000,125.000000,99,125.000000,125.000000,125.000000,123
unique,38,NaN,NaN,NaN,NaN,NaN,NaN,124,106,NaN,...,NaN,NaN,NaN,NaN,NaN,66,NaN,NaN,NaN,47
top,3.5,NaN,NaN,NaN,NaN,NaN,NaN,none,boredom,NaN,...,NaN,NaN,NaN,NaN,NaN,none,NaN,NaN,NaN,135
freq,13,NaN,NaN,NaN,NaN,NaN,NaN,1,7,NaN,...,NaN,NaN,NaN,NaN,NaN,8,NaN,NaN,NaN,8
mean,NaN,1.392000,1.112000,577.320000,3.028302,505.241935,1.75200,NaN,NaN,2.698113,...,1.217742,1.390244,3.336000,947.580645,555.040000,NaN,4.008000,1.512000,1073.400000,NaN
std,NaN,0.490161,0.316636,131.214156,0.639308,230.840506,0.43359,NaN,NaN,1.972042,...,0.414385,0.489800,1.436528,202.090179,152.370379,NaN,1.081337,0.501867,248.667092,NaN
min,NaN,1.000000,1.000000,265.000000,2.000000,315.000000,1.00000,NaN,NaN,1.000000,...,1.000000,1.000000,1.000000,580.000000,345.000000,NaN,1.000000,1.000000,575.000000,NaN
25%,NaN,1.000000,1.000000,430.000000,3.000000,420.000000,2.00000,NaN,NaN,2.000000,...,1.000000,1.000000,2.000000,725.000000,500.000000,NaN,3.000000,1.000000,900.000000,NaN
50%,NaN,1.000000,1.000000,610.000000,3.000000,420.000000,2.00000,NaN,NaN,2.000000,...,1.000000,1.000000,3.000000,940.000000,500.000000,NaN,4.000000,2.000000,900.000000,NaN
75%,NaN,2.000000,1.000000,720.000000,3.000000,420.000000,2.00000,NaN,NaN,3.000000,...,1.000000,2.000000,5.000000,1165.000000,690.000000,NaN,5.000000,2.000000,1315.000000,NaN
max,NaN,2.000000,2.000000,720.000000,4.000000,980.000000,2.00000,NaN,NaN,9.000000,...,2.000000,2.000000,5.000000,1165.000000,850.000000,NaN,5.000000,2.000000,1315.000000,NaN

In [4]:
df.shape

(125, 61)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   GPA                           123 non-null    object
 1   Gender                        125 non-null    int64
 2   breakfast                     125 non-null    int64
 3   calories_chicken              125 non-null    int64
 4   calories_day                  106 non-null    float64
 5   calories_scone                124 non-null    float64
 6   coffee                        125 non-null    int64
 7   comfort_food                  124 non-null    object
 8   comfort_food_reasons          123 non-null    object
 9   comfort_food_reasons_coded    106 non-null    float64
 10  cook                          122 non-null    float64
 11  comfort_food_reasons_coded.1  125 non-null    int64
 12  cuisine                       108 non-null    float64
 13  diet_current                  124 non-null    object
 14  diet_current_coded            125 non-null    int64
 15  drink                         123 non-null    float64
 16  eating_changes                122 non-null    object
 17  eating_changes_coded          125 non-null    int64
 18  eating_changes_coded1         125 non-null    int64
 19  eating_out                    125 non-null    int64
 20  employment                    116 non-null    float64
 21  ethnic_food                   125 non-null    int64
 22  exercise                      112 non-null    float64
 23  father_education              124 non-null    float64
 24  father_profession             122 non-null    object
 25  fav_cuisine                   123 non-null    object
 26  fav_cuisine_coded             125 non-null    int64
 27  fav_food                      123 non-null    float64
 28  food_childhood                124 non-null    object
 29  fries                         125 non-null    int64
 30  fruit_day                     125 non-null    int64
 31  grade_level                   125 non-null    int64
 32  greek_food                    125 non-null    int64
 33  healthy_feeling               125 non-null    int64
 34  healthy_meal                  124 non-null    object
 35  ideal_diet                    124 non-null    object
 36  ideal_diet_coded              125 non-null    int64
 37  income                        124 non-null    float64
 38  indian_food                   125 non-null    int64
 39  italian_food                  125 non-null    int64
 40  life_rewarding                124 non-null    float64
 41  marital_status                124 non-null    float64
 42  meals_dinner_friend           122 non-null    object
 43  mother_education              122 non-null    float64
 44  mother_profession             123 non-null    object
 45  nutritional_check             125 non-null    int64
 46  on_off_campus                 124 non-null    float64
 47  parents_cook                  125 non-null    int64
 48  pay_meal_out                  125 non-null    int64
 49  persian_food                  124 non-null    float64
 50  self_perception_weight        124 non-null    float64
 51  soup                          124 non-null    float64
 52  sports                        123 non-null    float64
 53  thai_food                     125 non-null    int64
 54  tortilla_calories             124 non-null    float64
 55  turkey_calories               125 non-null    int64
 56  type_sports                   99 non-null     object
 57  veggies_day                   125 non-null    int64
 58  vitamins                      125 non-null    int64
 59  waffle_calories               125 non-null    int64
 60  weight                        123 non-null    object
dtypes: float64(20), int64(27), object(14)
memory usage: 59.7+ KB

In [6]:
df.columns

Index(['GPA', 'Gender', 'breakfast', 'calories_chicken', 'calories_day',
       'calories_scone', 'coffee', 'comfort_food', 'comfort_food_reasons',
       'comfort_food_reasons_coded', 'cook', 'comfort_food_reasons_coded.1',
       'cuisine', 'diet_current', 'diet_current_coded', 'drink',
       'eating_changes', 'eating_changes_coded', 'eating_changes_coded1',
       'eating_out', 'employment', 'ethnic_food', 'exercise',
       'father_education', 'father_profession', 'fav_cuisine',
       'fav_cuisine_coded', 'fav_food', 'food_childhood', 'fries', 'fruit_day',
       'grade_level', 'greek_food', 'healthy_feeling', 'healthy_meal',
       'ideal_diet', 'ideal_diet_coded', 'income', 'indian_food',
       'italian_food', 'life_rewarding', 'marital_status',
       'meals_dinner_friend', 'mother_education', 'mother_profession',
       'nutritional_check', 'on_off_campus', 'parents_cook', 'pay_meal_out',
       'persian_food', 'self_perception_weight', 'soup', 'sports', 'thai_food',
       'tortilla_calories', 'turkey_calories', 'type_sports', 'veggies_day',
       'vitamins', 'waffle_calories', 'weight'],
      dtype='object')

In [32]:
df['type_sports']

0                                             car racing
1                                            Basketball
2                                                   none
3                                                    NaN
4                                               Softball
5                                                  None.
6                                                 soccer
7                                                   none
8                                                   none
9                                           field hockey
10                                                soccer
11                                               Running
12                                Soccer and basketball
13                                 intramural volleyball
14                                                Hockey
15                                                Hockey
16                                                   NaN
17                                                hockey
18                                              dancing
19                                            basketball
20                                                Soccer
21                                                Tennis
22                                     tennis soccer gym
23                                       Gaelic Football
24                                                  none
25                                            Ice hockey
26                                                Hockey
27                                             Lacrosse
28                                                   NaN
29                                                   NaN
30                                          snowboarding
31                                        none organized
32                                                Soccer
33                                                   NaN
34                                              softball
35                                              Lacrosse
36                                             Softball
37                                               Dancing
38                                              Lacrosse
39                                                Hockey
40                                            wrestling
41                                                   NaN
42                                                   NaN
43                             no particular engagement
44                                            Volleyball
45                                                  none
46                                               soccer
47                                    wrestling & rowing
48                                             Wrestling
49                                                  none
50                                                   NaN
51                                                Hockey
52                                             Lacrosse
53                                                   NaN
54                                                hockey
55                                              softball
56                                                Hockey
57                                              softball
58                                                Skiing
59                                               skiing
60                               Water polo and running
61                                                   NaN
62                                            Ice Hockey
63                                               rowing
64                                            Volleyball
65                                                   NaN
66                                              tennis
67              Recreational Basketball, Equestrian Team
68                                                soccer
69                                                   NaN
70                                        Rec Volleyball
71                                              Softball
72                                                   NaN
73                                              baseball
74                                                   NaN
75                               I danced in high school
76                                     horse back riding
77                                           Basketball
78                                    competitive skiing
79                          Rowing, Running, and Cycling
80                                                   NaN
81                               softball and basketball
82                                             wrestling
83                                         Marching Band
84                                 Collegiate Water Polo
85                                        None right now
86                                  volleyball, lacrosse
87                                          field hockey
88                                                   NaN
89                                                 none
90                                               Fotball
91                                                  crew
92                Football, Basketball, Volleyball, Golf
93                                                   NaN
94                                  hockey, soccer, golf
95                                             Wrestling
96                                                Soccer
97                                              Running
98                                                Tennis
99                                              softball
100                                    Volleyball, Track
101                                                  NaN
102                                                  NaN
103    When I can, rarely though play pool, darts, an...
104                                   None at the moment
105                                           volleyball
106                                                  NaN
107                             I used to play softball
108                                           Ice hockey
109                                                 None
110                                           Volleyball
111                                                  NaN
112                                                  NaN
113                                                  NaN
114                                   Tennis, Basketball
115                                               Hockey
116                                                 none
117                              No, I don't play sport.
118                                                  NaN
119                                               Soccer
120                                             Softball
121                                          basketball
122                                                 none
123                                                  NaN
124                                                  NaN
Name: type_sports, dtype: object